Django==4.1.1
djangorestframework==3.14.0
django-cors-headers==3.13.0
gunicorn==21.2.0
whitenoise==6.5.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
python-decouple==3.8
Pillow==9.5.0
web3==6.11.3
requests==2.31.0
python-dotenv==1.0.0
pdfplumber==0.10.3
reportlab==4.1.0
